<div class="hero" style="background: url('https://source.unsplash.com/1600x900/?office,workspace') no-repeat center center; background-size: cover;">
  <div class="hero-content">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">We would love to hear from you! Reach out to us with your questions or feedback.</p>
    <hr class="my-4">
    <p>Email: <a href="mailto:support@simpleapp.com" class="text-white">support@simpleapp.com</a></p>
    <p>Phone: <a href="tel:+1234567890" class="text-white">(123) 456-7890</a></p>
    <p>Address: 123 SimpleApp St, Productivity City, PC 12345</p>
    <div class="mt-4">
      <%= link_to 'Send us a message', '#', class: 'btn btn-light btn-lg' %>
    </div>
  </div>
</div>


